@font-face {
    font-family:'Averta';
    src: url('../webfonts/AvertaRegular.eot');
    src: url('../webfonts/AvertaRegular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AvertaRegular.woff2') format('woff2'),
        url('../webfonts/AvertaRegular.woff') format('woff'),
        url('../webfonts/AvertaRegular.svg#AvertaRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Intro Script';
    src: url('../webfonts/IntroScriptDemo-Medium.eot');
    src: url('../webfonts/IntroScriptDemo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/IntroScriptDemo-Medium.woff2') format('woff2'),
        url('../webfonts/IntroScriptDemo-Medium.woff') format('woff'),
        url('../webfonts/IntroScriptDemo-Medium.ttf') format('truetype'),
        url('../webfonts/IntroScriptDemo-Medium.svg#IntroScriptDemo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}