@font-face {
    font-family:'Averta';
    src: url('../webfonts/AvertaRegular.eot');
    src: url('../webfonts/AvertaRegular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AvertaRegular.woff2') format('woff2'),
        url('../webfonts/AvertaRegular.woff') format('woff'),
        url('../webfonts/AvertaRegular.svg#AvertaRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Intro Script';
    src: url('../webfonts/IntroScriptDemo-Medium.eot');
    src: url('../webfonts/IntroScriptDemo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/IntroScriptDemo-Medium.woff2') format('woff2'),
        url('../webfonts/IntroScriptDemo-Medium.woff') format('woff'),
        url('../webfonts/IntroScriptDemo-Medium.ttf') format('truetype'),
        url('../webfonts/IntroScriptDemo-Medium.svg#IntroScriptDemo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
body {
	        background-color: #f8f7eb;
}

.main-title {
	color: #faa828;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	letter-spacing: 1px;
	font-family: 'Averta';
	
}
.title2 {
	color: #005BAD;
	font-weight: bold;
	padding: 6px;
	letter-spacing: 1px;
}
.spacing1 {
	padding: 45px;
}

.form-group input[type=text] {
	font-family: 'Averta';
}


.form-group textarea {
    font-family: 'Averta';
}

.form-group select {
    font-family: 'Averta';    
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}